<div class="container-fluid" *ngIf="pelicula">
  <div class="row">
    <div class="col-md-6 img-fluid">
      <img src="https://image.tmdb.org/t/p/w500/{{pelicula.poster_path}}" alt="{{pelicula.title}}">
    </div>

    <div class="col-md-6">
      <h3>{{pelicula.title}}</h3>

      <h5>Título original: {{pelicula.original_title}}</h5>
      <p>{{pelicula.overview}}</p>

      <p><i class="fas fa-star"></i> {{pelicula.vote_average}}</p>
      <p><strong>Género:</strong>
        <span *ngFor="let generosPelicula of pelicula.genres">
                    <span *ngFor="let generos of generos" >
                        <span *ngIf="generos.id==generosPelicula.id"  >
                            {{generos.name}},
                        </span>
                    </span>
              </span>

      </p>
      <h5><strong>Reparto:</strong></h5>
      <span *ngFor="let credito of creditos">
        <span *ngIf="credito.known_for_department == 'Acting'">
            {{credito.name}},
        </span>
      </span>

      <h5><strong>Director:</strong></h5>
      <span *ngFor="let dire of direccion">
        <span *ngIf="dire.known_for_department == 'Directing'">
            {{dire.name}},
        </span>
      </span>
      <app-valoracion [datosPeli]="pelicula"></app-valoracion>
    </div>
  </div>
</div>
