#cont{
    width: 80%;  
    margin: auto;
}

#elem{
    font-size: 18pt;
    font-weight: bold;
}

.card{
    width: 380px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

h5{
    font-weight: bold;
    color:#e0e0e0;
}

h3{
    color: azure;
}

h2{
    color: azure;
}