<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Buscador de películas</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" name="title" type="search" placeholder="Buscar la película" aria-label="Search" id="title" [(ngModel)]="title" (ngModelChange)="title = $event">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)='buscar()'>Buscar</button>
    </form>
  </nav>

  <div *ngIf='load'>
      <app-listado [listado]="listado"></app-listado>
  </div>
  <div *ngIf='fail' class="w-50 mx-auto text-center mt-3">
    <h3>No se ha podido encontrar nunguna película</h3>    
</div>