<div class="mt-4 mb-4 text-center" id="bot">
    <button class="bt btn-lg btn-info"(click)='volver()'>Volver</button>
</div>
<div class="mx-auto text-centre mt-2 mb-4" id="cont">
    <h2>Listado de Comentarios</h2>
    <div class="row">
        <div class="col-3 mt-4 card" *ngFor="let elem of list" id="elem">
            <div class="card-img-top">
                <img src="https://image.tmdb.org/t/p/w500/{{elem.data.poster}}" class="w-100" alt="{{elem.data.titulo}}">
            </div>
            <div class="card-body">
                <h3> {{elem.data.titulo}} </h3>
                <h5> {{elem.data.opinion}} </h5>
                <h5> {{elem.data.valor}} / 10 </h5>
            </div>
            <button class="btn btn-danger" (click)='eliminar(elem)'>Eliminar</button>
        </div>
    </div>    
</div>
